.button {
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: none;
}

/* Основная кнопка */
.primary {
  background-color: #4f46e5;
  color: #fff;
}

.primary:hover {
  background-color: #4338ca;
}

/* Второстепенная кнопка */
.secondary {
  background-color: #e5e7eb;
  color: #111827;
}

.secondary:hover {
  background-color: #d1d5db;
}
